{
    "url": null,
    "key": null,
    "testList": null,
    "testSuppressionList": null,
    "testTrigger": null,
    "testTransactional": null,
    "testSystemTransactional": null,
    "testGmailEmailPattern": null,
    "testTableName": null
}
